<p>
  <strong>Village Name</strong>
  <%= @village.name %>
</p>
<p>
  <strong>State</strong>
  <%= @village.state %>
</p>

<%= link_to 'Edit', edit_lake_village_path(@village) %>
<%= link_to 'Back to Lakes', lakes_path %>

